.productdisplay{
    display: flex;
    margin: 0px 170px;
}

.productdisplay-left{
    display: flex;
    gap: 17px;
}

.productdisplay-img-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.productdisplay-img-list img{
    height: 138px;
}

.productdisplay-main-img{
    width: 486px;
    height: 600px;
}

.productdisplay-right{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}

.productdisplay-right h1{
    color: #5e5e5e;
    font-weight: 700;
    font-size: 40px;
}

.productdisplay-right-stars{
    display: flex;
    color: #1e1e1e;
    gap: 5px;
    font-size: 16px;
    margin-top: 13px;
    align-items: center;
}

.productdisplay-right-prices{
    display: flex;
    margin: 40px 30px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}

.productdisplay-right-price-old{
    color: #818181;
    text-decoration: line-through;
}

.productdisplay-right-price-new{
    color: #ff4141;
}

.productdisplay-right-size h1{
    color: #565656;
    font-size: 20px;
    font-weight: 600;
    margin-top: 55px;
}

.productdisplay-right-sizes{
    display: flex;
    margin: 30px 0px;
    gap: 20px;
}

.productdisplay-right-sizes div{
    padding: 18px 24px;
    background-color: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}

.productdisplay-right button{
    padding: 20px 40px;
    border: none;
    outline: none;
    background: #ff4141;
    color: white;
    margin-bottom: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    width: 200px;
}

.productdisplay-right-category{
    margin-top: 10px;
}

.productdisplay-right-category span{
    font-weight: 600;
}